*~
*#
.#*
**/*.iml
**/*.bak
**/.idea
target/*
target
**/.classpath
**/.project
.classpath
.project
.settings
**/.settings
**/.settings/*
*.log
pom.xml.versionsBackup
release.properties
**/pom.xml.releaseBackup
.flattened-pom.xml
dependency-reduced-pom.xml
